*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "helveticaneue",sans-serif;
}


.main_noi_dung{
    width: 78%;
    margin: 10px auto 10px auto;
}


.header_1{
    font-size: 20px;
    margin-top: 30px;
    position: relative;
    margin-bottom: 25px;
}

.header_1 p::after{
    content: "";
    width: 100px;
    height: 3px;
    background-color: #eb1c24;
    position: absolute;
    top: 115%;
    left: 0%;
}

.conten_img{
    width: 465px;
    height: 200px;
}
.conten_img img{
    width: 100%;
    height: 580px;
}


.conten_1{
    display: flex;
}

.conten_2{
    display: flex;
    flex-wrap: wrap;
}

.box_1{
    width: 24%;
    height: 288px;
    border: 1px solid rgb(197, 197, 197);
    padding: 5px 0px 0px 5px;
    margin: 0px 5px 5px 2px;
}

.box_1 img{
    width: 100%;
    height: 75%;
}

.box_1 p{
    padding-bottom: 5px;
}

.box_1 a{
    text-decoration: none;
    color: black;
}